
{% extends 'base.html.twig' %}

{% block title %}Détails de l'offre{% endblock %}


{% block body %}

<div class="container my-5">
{% block javascripts %}
    {{ parent() }}
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
     <script src="{{ asset('main.js') }}"></script>
   <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
   {% endblock %}
{% block stylesheets %}
  {{ parent() }}

     <link rel="stylesheet" href="{{ asset('bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    
{% endblock %}
  <div class="card text-center">
  <div class="card-header">
    Détail d'une Offre
  </div>
  <div class="card-body">
            <h5 class="card-title">{{ offre.titre }}</h5>
            <p class="card-text">{{ offre.description }}</p>
            <p class="card-text">{{ offre.categorie }}</p>
            <p class="card-title">
              Date limite : <span>{{ offre.dl|date('d/m/Y') }}</span>
            </p>
            <p class="card-title">
              Date Creation : <span>{{ offre.dc|date('d/m/Y') }}</span>
            </p>
            <button type="button" class="btn btn-succes me-2" onclick="generateQRCode('{{ offre.id }}', this)">Générer QRCode</button>
            </div>     
    <div id="qrcode_{{ offre.id }}" style="display: inline-block;"></div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
      <script>
        function generateQRCode(id, button) {
          var qrcode = new QRCode(document.getElementById("qrcode_" + id), {
              width: 400,
              height: 400,
              colorDark: "#023059",
              colorLight: "#ffffff"
          });
    if (button.getAttribute('data-clicks') == 1) {
        button.innerHTML = 'Générer QRCode';
        document.getElementById("qrcode_" + id).innerHTML = '';
        button.setAttribute('data-clicks', 0);
    } else {
      qrcode.makeCode(`
    ${JSON.stringify({
      categorie: '{{ offre.categorie }}',
      titre: '{{ offre.titre }}',
      etat: '{{ offre.Etat }}',
      dl: '{{ offre.dl|date('d/m/Y') }}',
      dc: '{{ offre.dc|date('d/m/Y') }}'
    }, null, '\n')}
`);

        button.innerHTML = 'Supprimer QRCode';
        button.setAttribute('data-clicks', 1);
    }
}
</script>
     
<div class="text-center d-flex justify-content-center">
    <form action="{{ path('modifier_offre', {'id': offre.id}) }}" method="POST" class="d-inline-block">
        <button type="submit" class="btn btn-primary me-2">Modifier <i class="fas fa-eye-dropper"></i></button>
    </form>
 
    {{ include('offres/_delete_form.html.twig') }}  
</div>

  <div class="card-footer text-muted">
<small class="text-muted">Crée depuis {{ offre.getDaysSinceCreated() }} </small>
</div>
  </div>
</div>
</div>
{% endblock %}
